.accordionItemContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.2rem;
    font-size: var(--size-xsm);
    padding-block-end: 1rem;
    padding-inline: 1rem;
    overflow-y: hidden;
}