.accordionItemContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: var(--lineHeight);
    font-size: var(--fontSize);
    padding-block-end: 1rem;
    padding-inline: 1rem;
    overflow-y: hidden;
}