.accordionItemTrigger {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--fontSize);
    text-align: left;
    padding-block: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
}

.accordionItemTrigger>svg {
    min-width: 1rem;
}

.accordionItemTrigger>svg:last-child {
    margin-inline-start: auto;
}