.accordionItemContent{
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 300ms ease-in-out;
}

.innerContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.2rem;
    font-size: var(--size-sm);
    padding-block-end: 1rem;
}