.dockItem {
    width: 100%;
    height: 100%;
}

.dockItem.active {
    background: var(--gray-300);
}

.dockItem>* {
    width: 100%;
    height: 100%;
    display: block;
    text-wrap: nowrap;
    word-break: keep-all;
    padding-block: 0.25rem;
    padding-inline: 0.3rem;
}