.button {
    --btn-bg-color: var(--themed-matched-color);
    --btn-state-bg-color: color-mix(in srgb, var(--btn-bg-color), 3%, var(--background-200));

    background: var(--btn-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    font-size: var(--size-xsm);

    padding-block: 0.4rem;
    padding-inline: 1.3rem;

    outline: 1px solid var(--gray-400);
    border-radius: 0.3rem;

    box-shadow: 0px 0px 1px 1px var(--gray-100);

    cursor: pointer;
}

.button:focus,
.button:active,
.button:hover {
    background: var(--btn-state-bg-color);
}