.button {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    white-space: nowrap;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    border: 1px solid var(--border-color);
    outline: 0 solid var(--border-color);
    border-radius: 0.5rem;

    transition: all 80ms ease-in-out;
    cursor: pointer;
}

.button:focus-visible {
    outline-width: 3px;
}