.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

    white-space: nowrap;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    outline: 1px solid var(--border-color);
    border-radius: 0.5rem;

    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.button:focus-visible {
    outline-width: 3px;
}