.dottedGrid {
    width: 100%;
    height: 100%;
    position: relative;
}

.dottedGrid::before {
    content: "";
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -99999;
    background-image: radial-gradient(circle at center, var(--gray-600) 1px, transparent 0);
    background-size: 20px 20px;
    background-repeat: round;
    -webkit-mask: linear-gradient(-20deg, transparent 50%, var(--gray-1000));
    mask: linear-gradient(-20deg, transparent 50%, var(--gray-1000));
    /* mask: radial-gradient(circle at center, var(--gray-1000), transparent 60%); */
}