.tableContainer{
    display: inline-block;
    background: var(--matte-background);
    border: 1px solid var(--gray-300);
    border-radius: 0.5em;
    overflow: hidden;
}

.table{
    border-collapse: collapse;
}