.alertDialogTrigger {
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    padding-block: 0.4rem;
    padding-inline: 1.3rem;
    outline: 1px solid var(--gray-400);
    border-radius: 0.3rem;
    box-shadow: 0px 0px 1px 1px var(--border-color);
    transition: outline-width 100ms ease-in-out;
    cursor: pointer;
}

.alertDialogTrigger:focus-visible {
    outline-width: 3px;
}