.alertDialogCancel {
    background: var(--gray-200);
    color: var(--themed-unmatched-color);

    padding-block: 0.4rem;
    padding-inline: 1.3rem;

    outline: 1px solid var(--gray-500);
    border-radius: 0.4rem;

    box-shadow: 0px 0px 1px 1px var(--gray-100);

    cursor: pointer;

    transition: outline-width 100ms ease-in-out;
}

.alertDialogCancel:hover{
    background: var(--gray-300);
}

.alertDialogCancel:focus-visible{
    outline-width: 3px;
}