.alertDialogContent {
    margin: auto;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    outline: 1px solid var(--border-color);
    border-radius: 0.8rem;
}

.alertDialogContent {

    &,
    &::backdrop {
        opacity: 0;
        z-index: 999999;

        transition:
            display 1s allow-discrete,
            opacity 300ms allow-discrete;
    }

    &::backdrop {
        background: var(--vaul-overlay-background-end);
    }

    &[open] {
        opacity: 1;

        &::backdrop {
            backdrop-filter: blur(10px);
            opacity: 0.6;
        }
    }

    @starting-style {

        &[open],
        &:popover-open::backdrop {
            opacity: 0;
        }
    }
}