.alertDialogCancel {
    background: var(--gray-200);
    color: var(--themed-unmatched-color);
    padding-block: 0.4rem;
    padding-inline: 1.3rem;
    outline: 1px solid var(--border-color);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 1px 1px var(--gray-100);
    transition: outline-width 100ms ease-in-out;
    cursor: pointer;
}

.alertDialogCancel:focus-visible {
    outline-width: 3px;
}