.themeButton {
    padding-block: 0.4rem;
    padding-inline: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
}

.themeButton>svg>path {
    fill: var(--gray-900);
}

.themeButton[aria-selected="true"] {
    outline: 1px solid var(--border-color);
}

.themeButton[aria-selected="true"]>svg>path {
    fill: currentColor;
}