.dropdownContent {
    width: max-content;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-block: 0.25rem;
    padding-inline: 0.25rem;
    margin: 0.5rem;
    outline: 1px solid;
    border-radius: 0.35rem;
    transition: all 300ms ease-in-out;

    position-anchor: --anchor-dropdown;
    inset: auto;
    position-area: block-start span-inline-start;
    position-try-fallbacks: flip-block flip-inline;
    position-try-order: most-height;
    position-visibility: anchors-visible;
}

.dropdownContent {

    /* &,
    &::backdrop
    {
        opacity: 0;
        z-index: 999999;

        transition: 
            display 1s allow-discrete,
            opacity 200ms allow-discrete;
    } */

    /* &:popover-open {
        opacity: 1;

        &::backdrop{
            backdrop-filter: blur(10px);
            opacity: 0.8;
        }
    } */

    & {
        opacity: 0;
        z-index: 999999;

        transition:
            display 1s allow-discrete,
            opacity 200ms allow-discrete;
    }

    &:popover-open {
        opacity: 1;
    }

    @starting-style {

        /* &:popover-open,
        &:popover-open::backdrop {
            opacity: 0;
        } */

        &:popover-open {
            opacity: 0;
        }
    }
}