.dropdownSubTrigger {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 0.375rem;
    padding-inline: 0.5rem;
    border-radius: 0.35rem;

    anchor-name: --anchor-dropdownSub;
}

.dropdownSubTrigger:hover {
    background-color: var(--gray-400);
}

.dropdownSubTrigger:focus-visible {
    background-color: var(--gray-500);
    outline: 1px solid var(--gray-1000);
}