.dropdownItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    padding-block: 0.375rem;
    padding-inline: 0.5rem;
    border-radius: 0.35rem;
}

.dropdownItem:hover {
    background-color: var(--gray-300);
}

.dropdownItem:focus-visible {
    background-color: var(--gray-300);
    outline: 1px solid var(--gray-900);
}

.dropdownItem:disabled {
    color: var(--gray-600);
    cursor: not-allowed;
}

.dropdownItem[variant="destructive"] {
    color: var(--red-900);
}

.dropdownItem[variant="destructive"]:hover {
    background-color: var(--red-300);
}

.dropdownItem[variant="destructive"]:focus-visible {
    background-color: var(--red-300);
    outline: 1px solid var(--red-900);
}