.buttonGroup {
    display: flex;
    border-radius: 0.5rem;
    outline: 1px solid var(--border-color);
}

.buttonGroup>button {
    border-radius: 0;
    outline: none;
}

.buttonGroup>button:not(:first-child) {
    border-left: 1px solid var(--border-color);
}