.alertItem {
    display: grid;
    grid-template-columns: 1rem 1fr;
    column-gap: 0.6rem;
    row-gap: 0.3rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    outline: 1px solid;
    border-radius: 0.6rem;
}

.alertItem>svg,
.alertItem>svg>path {
    fill: var(--alert-color);
}