*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    list-style: none;
    text-decoration: none;

    font-family: var(--font-sans);
    color: var(--text-color);
    scroll-behavior: smooth;
}

html:has(:popover-open),
html:has(dialog[open]) {
    overflow: hidden;
}

body {
    height: 200vh;
    background: var(--background-200);
    scroll-behavior: smooth;
    transition: background-color 0.1s, color 0.1s;
}

input {
    border: none;
    background: none;
    outline: none;
}

svg {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

details {
    display: block;
}

summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}